.places {
  margin: 92px 148px 0;
}

@media screen and (max-width: 1279px) {
  .places {
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    margin-top: 88px;
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin-top: 64px;
    margin-right: 0;
    margin-left: 0;
  }
}