.place__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}


@media screen and (max-width: 767px) {
  .place__website {
    margin-right: 16px;
    margin-left: 16px;
  }
}